/* Default Heading Fonts */

h1, h2, h3 {
  font-family: 'IBM Plex Serif';
  position: relative;
  font-weight: bold;
}

.hero__container {
  background: linear-gradient(#0000008c, #0000008c), url(./images/deathvalley.jpg);
  background-position: center;
  background-size: cover;
}

.thick_underline::after {
  content: "";
  bottom: -0.75em;
  --tw-border-opacity: 1;
  border-color: rgba(55, 65, 81, var(--tw-border-opacity));
  border-width: 2px;
  margin-top: 0.75rem;
  position: absolute;
  left: 25%;
  width: 50%;
}